#root {
  display: flex;
  justify-content: center;
}

body {
  background: #f5f5f5;
  box-sizing: border-box;
  color: rgb(77, 77, 77);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

button:focus,
input:focus {
  outline: none;
}
